.git
.DS_Store
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.cache
**/*.log
**/*.pid
**/*.sqlite
**/*.db
**/*.db-journal
**/*.process.log
**/node_modules
**/venv
data
backend/data
frontend/dist
frontend/node_modules
